# تجاهل ملفات البيئة الافتراضية
venv/
.venv/

# تجاهل ملفات التخزين المؤقت
__pycache__/
*.pyc

# تجاهل ملفات النظام
desktop.ini
.DS_Store

# تجاهل إعدادات المحرر
.vscode/

# تجاهل ملفات البيئة الافتراضية
venv/
.venv/

# تجاهل ملفات التخزين المؤقت
__pycache__/
*.pyc

# تجاهل ملفات النظام
desktop.ini
.DS_Store

# تجاهل إعدادات المحرر
.vscode/
